::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}
thead tr.header th {
  background-color: #f5f0fa;
}
th.no-border {
  border: none !important;
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
.full-width {
  width: 100%;
}
