<app-form-layout [image]="'/assets/images/Group 1108.svg'">
    <form [formGroup]="form" (ngSubmit)="SetNewPaswword()" class="custom-center">
        <div class="ar-style mb-4">
            <div class="mat-display-1 mb-3" color="primary">{{'auth.new.reset'| translate}}</div>
            <div class="mat-subheading-2" color="gray">
              {{'auth.new.newpassword' | translate}}</div>
        </div>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{'auth.new.newpw' | translate}}</mat-label>
                <input [type]="visibility1?'text':'password'" matInput formControlName="newpassword" required minlength="6">
                <mat-icon (click)="visibility1=!visibility1" *ngIf="!visibility1" class="visibility-icon" matSuffix>visibility</mat-icon>
                <mat-icon (click)="visibility1=!visibility1" *ngIf="visibility1" class="visibility-icon" matSuffix>visibility_off</mat-icon>
                <mat-hint>{{'auth.new.pswrdHint'| translate}}</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{'auth.new.cnfrmpwd' | translate}}</mat-label>
                <input [type]="visibility2?'text':'password'"
                 matInput required formControlName="confirmpassword">
                <mat-icon (click)="visibility2=!visibility2" *ngIf="!visibility2" class="visibility-icon" matSuffix>visibility</mat-icon>
                <mat-icon (click)="visibility2=!visibility2" *ngIf="visibility2" class="visibility-icon" matSuffix>visibility_off</mat-icon>
                <mat-hint>{{'auth.new.cnfrmHint' | translate}}</mat-hint>
                <!-- <mat-error>asd</mat-error> -->
            </mat-form-field>
        </p>

        <p>
            <button [class.spinner]="loading" [disabled]="loading"
             mat-raised-button color="accent" >
                <span color="white">{{'auth.new.resetpwd' | translate}}</span>
            </button>
        </p>
        <br />

    </form>
</app-form-layout>
