.example-header-image {
  background-image: url("/assets/images/download.jpg");
  background-size: cover;
  right: 185px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
body {
  overflow-x: hidden;
}
table {
  width: 100%;
  // background-color:transparent;
}
::ng-deep .matformfield {
  background-color: transparent;
  width: 550px;
}
mat-icon {
  color: rgb(170, 167, 167);
  margin-right: 10px;
}
td.mat-cell {
  border-bottom-style: none;
}
th.mat-header-cell {
  background-color: #f5f0fa;
}
mat-menu {
  margin-top: -27px;
}

mat-paginator {
  background-color: transparent;
  ::ng-deep.mat-paginator {
    background-color: transparent;
  }
  // override material paginator page switch
  ::ng-deep .mat-paginator-range-label {
    display: none;
  }
  ::ng-deep .mat-paginator-page-size {
    display: none;
  }
  ::ng-deep.mat-paginator-page-size-label {
    display: none;
  }

  ::ng-deep.mat-form-field-appearance-legacy {
    display: none;
  }
  ::ng-deep.mat-form-field-wrapper {
    display: none;
  }
  .rtl & {
    right: 0;
    display: flex;
  }
}
.User-style {
  .rtl & {
    margin-left: 14px;
  }
}

.fixed-btn {
  position: fixed;
  bottom: 20%;
  z-index: 999;
  mat-icon {
    color: #fff;
  }
}
.fixed-btn-left {
  left: 6%;
}
.fixed-btn-right {
  right: 6%;
}
.activeStatus {
  color: green;
}
.deactiveStatus {
  color: red;
}
