.layer-00 {
  position: absolute;
  width: 174px;
  height: 180px;
  left: 0px;
  top: 0px;
}
.layer-22 {
  position: absolute;
  width: 63vw;
  height: 100vh;
  right: 0px;
  border-radius: 50px 0 0 50px;
  background: url("/assets/images/Group 1090@2x.png") 100%
    padding-box;
  background-size: 500px;
}
.content{
  margin-top: 20px;
}

.layer-44 {
  position: absolute;
  width: 196px;
  height: 175px;
  bottom: 0px;
  right: 0px;
}
