<app-form-layout [image]="'/assets/images/Group 1108.svg'">
  <form [formGroup]="form" (ngSubmit)="verifyEmail()" class="custom-center">
    <div class="mat-display-1 mb-3 ar-style">
      <div  color="primary">{{'auth.confirm.rstpwd' | translate}}</div>
    <div class="mat-subheading-2" color="gray">
     {{'auth.confirm.chkmail' | translate}}
    </div>
    </div>
    <p>
      <button [class.spinner]="loading" [disabled]="loading"
       mat-raised-button color="accent">
        <span color="white">{{'auth.confirm.rsndmail' | translate}}</span>
      </button>
    </p>
    <br />
  </form>
</app-form-layout>
