<app-form-layout [image]="'/assets/images/Group 1108.svg'">
    <form [formGroup]="form" (ngSubmit)="verifyEmail()" class="custom-center">
        <div class="ar-style mb-5">
            <p class="mat-display-1 mb-3" color="primary">
              {{'auth.reset.resetPsword' | translate}}</p>
            <p class="mat-subheading-2" style="width: 20rem;" color="gray">
              {{'auth.reset.resetPassword' | translate}}</p>
        </div>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{'auth.reset.email' | translate}}</mat-label>
                <input matInput formControlName="email" email required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>{{'auth.reset.emailValid' | translate}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <button [class.spinner]="loading" [disabled]="loading"
            mat-raised-button color="accent"[routerLink]="['/auth/confirm-password']">
                <span color="white">{{'auth.reset.passwordReset' | translate}}</span>
            </button>
        </p>
        <br />
    </form>
</app-form-layout>
