<app-reply-layout [image]="'/assets/images/Group 1318.svg'">

      <div class="mb-5">
          <span class=" text-center mat-display-1"
           color="primary">Great!</span>
          <br />
          <br>
          <pre class="text-center mat-subheading-2 ml-lg-3  " color="gray">
              Your account created,
            Please check your email to activate
            your account

          </pre>
          <p>
            <button tabindex="-1" class="  text-center" [class.spinner]="loading"
            [disabled]="loading" mat-raised-button >Login</button>

          </p>
      </div>


</app-reply-layout>
